.cover__subtitle {
    max-width: calc(1280px - 2*460px);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}

@media screen and (max-width:700px) {
    .cover__subtitle{
        min-width: calc(320px - 2*16px);
        padding: 0 16px;
        font-size: 14px;
        line-height: 1.14;
    }
}
