.lead__title {
    margin: 0 auto;
    max-width: calc(1280px - 2*280px);
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width:700px) {
   .lead__title{
    min-width: calc(320px - 2*16px);
    margin: 0 16px;
    font-size: 40px;
    line-height: 1.1;
}
}