.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
    margin: 0;
    padding: 0;
}

.place__link:hover {
    opacity: 0.3;
    cursor: pointer;
}